h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
}

input {
    border-radius: 6px;
}

#divPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 5px;
    border-radius: 50px;
    margin: 0 auto;
    width: 70%;
    background-color: honeydew;
    margin-top: 10%;
}

#divHijo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: white;
    background-color: cadetblue;
    border-style: hidden;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-radius: 10px;
}